/* breadcrumbs */
.breadcrumbs {
  /* max-width: 1200px; */
  width: 100%;
  margin: 20px auto;
  background-color: black;
  padding-left: 24px;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
  color: white;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs .crumb a:hover {
  color: pink;
}

.breadcrumbs .crumb a:active {
  color: red;
}
