.character-detail-page-scope {
  /* background-color: black; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  width: 100%;
  overflow-x: hidden;
}

.character-detail-page-scope .background-story-title {
  margin: 0;
}

.character-detail-page-scope .background-story {
  line-height: 1.5em;
  margin-bottom: 100px;
}

.img-fluid {
  max-height: 700px;
}
