/* .create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}

.create label span {
  display: block;
  margin: 30px 0 10px;
}

.create p {
  margin-top: 10px;
  font-size: 0.8em;
}

.create button {
  display: block;
  width: 100px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}

.ingredients {
  display: flex;
  align-items: center;
}

.ingredients button {
  margin: 0 0 0 10px;
} */

/* temp */
.create {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 100vh;
}

.create form label {
  display: block;
}

.create form {
  border: none;
  box-shadow: 1px;
}

.create .cstm-bg {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px) saturate(170%);
}
